.tdt-wrap {
    margin-top: 20px;
    margin: 10px 0px 0 2px;
  }
  
  .tdt-clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .tdt-template-previews-wrap .image {
    border: none;
    width: auto;
    margin-top: 10px;
  }
.tdt-wrap .tdt-header {
  background-color: #5ca9da;
  padding: 12px 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
  .tdt-wrap .wp-clearfix {
    margin: auto;
  }
  .tdt-wrap * {
    box-sizing: border-box;
  }
  .tdt-wrap h1 .tdt-floatLeft {
    float: left;
    padding: 0;
  }
  .tdt-header h1,
  .tdt-header h2 {
    color: #fff;
  }
  .tdt-plugin-logo {
    /* height: 70px; */
    vertical-align: middle;
    /* margin-bottom: 10px; */
  }
  .tdt-header h1 {
    font-weight: lighter;
    padding-bottom: 15px;
  }
  .tdt-logo-header {
    vertical-align: middle;
  }
  .tdt-header h1,
  .tdt-header h2 {
    color: rgb(226, 223, 223);
    margin: 0;
  }
  .tdt-header h1 {
    font-size: 45px;
  }
  .tdt-sub-header {
    display: flex;
    vertical-align: middle;
    margin-top: 27px;
    text-align: center;
  }
  .tdt-sub-header {
    margin-left: 30px;
    font-size: 16px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.68);
  }
  .tdt-add-wrap {
    margin-left: auto;
  }
  .tdt-add-wrap a {
    text-decoration: none;
  }
  .tdt-field .button-primary {
    background-color: #1eb2b6;
    padding: 0 15px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
    font-weight: bold;
    font-size: 11px;
  }
  /*Setting section css*/
.tdt-wrap .nav-tab {
  float: left;
  border: 1px solid #c3c4c7;;
  border-bottom: none;
  margin-right: 3px;
  font-size: 12px;
  line-height: 1.71428571;
  font-weight: 700;
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.68);
  text-decoration: none;
  white-space: nowrap;
  padding-right: 20px;
  margin-left: 0;
}
  
  h2 .nav-tab-wrapper {
    text-align: left;
    padding-bottom: 50px;
    font-size: 14px;
    line-height: 1.71428571;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 12px 20px;
    cursor: pointer;
    border-left: solid 1px rgba(0, 0, 0, 0.1);
  }
.nav-tab-wrapper,
.wrap h2.nav-tab-wrapper,
h1.nav-tab-wrapper {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0;
  line-height: inherit;
  border-top: none;
}
.tdt-wrap .nav-tab-active {
  color: #2271b1;
  background: #fff;
}
  .tdt-wrap .nav-tab-active,
  .tdt-wrap .nav-tab:focus:active {
    box-shadow: none;
  }
  
  .nav-tab-wrapper:hover,
  .nav-tab-wrapper {
    background: #fff;
    color: rgba(16, 70, 131, 0.68);
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    border-right: solid 1px rgba(0, 0, 0, 0.1);
  }
  
  .tdt-wrap .dashicons {
    margin: 8px 6px 10px 8px;
    vertical-align: middle;
  }
  .tdt-wrap .dashicons,
  .tdt-wrap .dashicons-before:before {
    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    transition: color 0.1s ease-in;
    padding-left: 4px;
  }
  
  /* Basic setting css */
  
  .tdt-settings-wrap {
    background-color: #fff;
    padding: 20px;
    min-height: 300px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
  .tdt-field-wrap {
    margin-bottom: 20px;
  }
  .tdt-form-wrap .tdt-field,
  .tdt-field {
    width: 100%;
    max-width: 500px;
    padding-left: 6px;
  }
  .tdt-checkbox-toggle {
    position: relative;
  }

  /* .tdt-checkbox-toggle input[type="checkbox"],
  .tdt-checkbox-toggle input[type="radio"] {
    min-width: 4rem;
  } */
    .tdt-settings-section input[type="color"],
    .tdt-settings-section input[type="date"],
    .tdt-settings-section input[type="datetime-local"],
    .tdt-settings-section input[type="datetime"],
    .tdt-settings-section input[type="email"],
    .tdt-settings-section input[type="month"],
    .tdt-settings-section input[type="number"],
    .tdt-settings-section input[type="password"],
    .tdt-settings-section input[type="search"],
    .tdt-settings-section input[type="tel"],
    .tdt-settings-section input[type="text"],
    .tdt-settings-section input[type="time"],
    .tdt-settings-section input[type="url"],
    .tdt-settings-section input[type="week"],
    .tdt-settings-section select,
    .tdt-settings-section textarea {
      width: 100%;
    }
  .tdt-checkbox-toggle input[type="checkbox"] {
    height: 28px;
    width: 50px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #8c8f94;
    border-radius: 4px;
    background: #fff;
    color: #50575e;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1rem;
    margin: -0.25rem 0.25rem 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 1rem;
    min-width: 1rem;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: 0.05s border-color ease-in-out;
  }
  .tdt-checkbox-toggle input[type="checkbox"]:checked + label {
    background-color: rgb(192, 222, 241);
  }
  
  .help-tab {
    font-weight: 600;
    font-size: 24px;
    padding: 20px 10px 0px 28px;
    background: #e9e9ea;
    color: #2d6fb0;
  }
  .tdt-checkbox-toggle label {
    display: inline-block;
    transition: all 0.3s ease;
    height: 20px;
    width: 40px;
    border-radius: 48px;
    background-color: rgba(0, 0, 0, 0.16);
    position: relative;
    z-index: 2;
  }
  .tdt-checkbox-toggle input[type="checkbox"]:checked + label:before {
    left: 16px;
    background-color: #0986df;
    background-image: linear-gradient(315deg, #97c3e3 0%, #0a86e0 74%);
    box-shadow: none;
}
  .tdt-checkbox-toggle label:before {
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    top: -2px;
    left: 0;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0 0 14px;
    transition: all 0.3s ease;
  }
.tdt-field-wrap>label {
  max-width: 190px;
  width: 23%;
  color: rgba(0, 0, 0, 0.68);
  vertical-align: top;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
}
  .tdt-field {
    display: inline-block;
    width: calc(100% - 180px);
    min-height: 40px;
  }
  .tdt-field input[type="text"] {
    width: 400px;
    max-width: 100%;
    border-radius: 0px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .tdt-wrap .wp-picker-container {
    display: inline-block;
  }
  .tdt-wrap .wp-picker-container .wp-color-result.button {
    min-height: 30px;
    margin: 0 6px 6px 0;
    padding: 0 0 0 30px;
    font-size: 11px;
  }
  .tdt-wrap .wp-core-ui .button,
  .tdt-wrap .wp-core-ui .button-secondary {
    color: #2271b1;
    border-color: #2271b1;
    background: #f6f7f7;
    vertical-align: top;
  }
  .tdt-wrap .wp-picker-open + .wp-picker-input-wrap {
    display: inline-block;
    vertical-align: top;
  }
  .tdt-wrap .wp-picker-container input[type="text"].wp-color-picker {
    width: 4rem;
    font-size: 12px;
    font-family: monospace;
    line-height: 2.33333333;
    margin: 0;
    padding: 0 5px;
    vertical-align: top;
    min-height: 30px;
    height: auto;
  }
  
  .tdt-wrap .screen-reader-text,
  .tdt-wrap .screen-reader-text span,
  .tdt-wrap .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
  .tdt-wrap .wp-color-result-text {
    background: #f6f7f7;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid #c3c4c7;
    color: #50575e;
    display: block;
    line-height: 2.54545455;
    padding: 0 6px;
    text-align: center;
  }
  .tdt-wrap .wp-core-ui .button-group.button-small .button,
  .tdt-wrap .wp-core-ui .button.button-small {
    min-height: 26px;
    line-height: 2.78181818;
    padding: 0 8px;
    font-size: 11px;
  }
  
  .tdt-field input[type="number"] {
    width: 400px;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 40px;
    border-radius: 0px;
  }
  .tdt-field input[type="number"]:focus {
    border: 1.5px solid #1778ff;
  }
  .tdt-field input[type="text"] :focus {
    border: 1px solid #1778ff;
  }
  .tdt-field input[type="text"]:hover {
    border: 1px solid #1778ff;
  }
  .tdt-field input[type="number"]:hover {
    border: 1px solid #1778ff;
  }
  .tdt-field-wrap textarea {
    width: 494px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 250px;
    border-radius: 0px;
  }
 .tdt-settings-wrap form h3 {
   padding: 10px 0;
   margin: 0 0 20px 0;
 }
 a.nav-tab.tdt-tab-trigger:hover {
   color: #2271b1;;
 }
  
  /*Layout page css*/
  .tdt-field select {
    font-size: 14px;
    line-height: 2;
    color: #2c3338;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    border-radius: 0px;
    padding: 0 24px 0 8px;
    max-width: 400px;
    min-height: 40px;
    -webkit-appearance: none;
    background: #fff
      url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E)
      no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
  }
  
  /* Here goes some change */
  
  @media only screen and (max-width: 1400px) {
    .tdt-form-wrap .tdt-field,
    .tdt-field {
      width: 100%;
      max-width: 400px;
      padding-left: 20px;
    }
  }
  
  .tdt-display-block {
    display: block !important;
  }
  
  .tdt-field.tdt-post-status-edit-disable label.tdt-display-block {
    margin-bottom: 5px;
  }
  
  .tdt-field.tdt-post-status-edit-disable label.tdt-display-block span {
    cursor: pointer;
  }
  
  .tdt-custom-field-add-form .tdt-field-wrap > label {
    width: 100%;
  }
  
 .wrap.tdt-wrap .description {
   font-style: italic;
   margin-top: 5px;
   margin-bottom: 0;
 }
  
  .tdt-shortcode-display {
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 782px) {
    .tdt-wrap input[type="date"],
    .tdt-wrap input[type="datetime-local"],
    .tdt-wrap input[type="datetime"],
    .tdt-wrap input[type="email"],
    .tdt-wrap input[type="month"],
    .tdt-wrap input[type="number"],
    .tdt-wrap input[type="password"],
    .tdt-wrap input[type="search"],
    .tdt-wrap input[type="tel"],
    .tdt-wrap input[type="text"],
    .tdt-wrap input[type="time"],
    .tdt-wrap input[type="url"],
    .tdt-wrap input[type="week"] select,
    .tdt-wrap textarea {
      -webkit-appearance: none;
      padding: 3px 10px;
      min-height: 40px;
      font-size: 12px;
      width: 200px;
    }
    .tdt-wrap * {
      -webkit-tap-highlight-color: transparent !important;
    }
    .tdt-form-wrap .tdt-field,
    .tdt-field {
      display: flex;
      width: 100%;
      max-width: 400px;
      padding-left: 20px;
    }
    .tdt-field textarea {
      width: 300px;
    }
    .tdt-field select {
      font-size: 12px;
      width: 300px;
      line-height: 2;
      color: #2c3338;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: none;
      border-radius: 0px;
      padding: 0 24px 0 8px;
      min-height: 40px;
      -webkit-appearance: none;
      background: #fff
        url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E)
        no-repeat right 5px top 55%;
      background-size: 16px 16px;
      cursor: pointer;
      vertical-align: middle;
    }
    .tdt-wrap textarea {
      -webkit-appearance: none;
    }
    .tdt-wrap input,
    .tdt-wrap textarea {
      font-size: 16px;
    }
    .tdt-wrap .wp-admin .form-table select,
    .tdt-wrap .wp-core-ui select {
      min-height: 40px;
      font-size: 16px;
    }
    .tdt-template-previews-wrap .image {
      border: none;
      width: 300px;
      height: auto;
    }
  }
  
  /* Help */
  
.tdt-content-block {
  background-color: white;
  padding: 38px;
  box-shadow: rgb(0 0 0 / 20%) 0 0 18px;
  margin-bottom: 24px;
}
  .tdt-content-block ul {
    list-style: none;
    margin-left: 17px;
  }
  .tdt-content-block ul.tdt-bullets li {
    list-style: disc;
  }
  .tdt-wrap li {
    margin-bottom: 6px;
  }
  

  /* Tabs */
.tdt-template-previews-image {
  width: 600px;
  /* background-color: #09F; */
  border-radius: 5px 5px 5px 5px;
}
ul.tdt-tabs-icon {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
ul.tdt-tabs-icon li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 2px;
  border-radius: 5px 5px 5px 5px;
  /*border: 1px solid #d5d5de;
  border-bottom: none;*/
  cursor: pointer;
}

li img.image{
  height: 100px;
  width: 100px;
}
ul.tdt-tabs-block-icon {
  display: flex;
  flex-wrap: wrap;
}
.logo-select li img.image {
  width: 50px;
  height: 50px;
}
/* ul.tdt-tabs-icon li:hover,
ul.tdt-tabs-icon li.active {
  background-color: #08E;
} */
ul.tdt-tabs-icon li.active {
  /* background-color: #08E; */
  border: 4px solid #08E;
  padding: 0px !important;
}
ul.tdt-logo-icon {
  display: flex;
  flex-wrap: wrap;
}
ul.tdt-logo-icon li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 2px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  line-height: 0;
}
ul.tdt-logo-icon li.active {
  border: 4px solid #08E;
  padding: 0px !important;
}
ul.tdt-tabs-icon li img:hover{
  background-color: #08e;
}
.tdt-tabs-icon li img {
  text-decoration: none;
  color: #FFF;
}
li img.image{
  height: 100px;
  width: 100px;
}
ul.tdt-tabs-icon {
  display: flex;
  flex-wrap: wrap;
}
.tdt-each-template-preview-block {
  margin-top: 10px;
}